:root{
    --black:#000;
    --white:#fff;
    --prin-color:   #5a99e6   ;
    --second-color:   #4892ed   ;
    --second-font: "Platypi", serif;
    --prin-hover: #ae8eec  ;
    --second-hover:#b79fe7;
    --quehacemos-hover: #9168e2;
}
html{
    scroll-snap-type: y mandatory;
}
body{
    font-family: "Montserrat", sans-serif;

    background: rgb(196,174,238);
    background: linear-gradient(77deg, rgba(196,174,238,1) 38%, rgba(79,146,228,1) 100%); 
}
.desvanesido{
    -webkit-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: -1px 0px 5px 0px rgba(0,0,0,0.75);
margin-left: 100px;
margin-right: 100px;
border-radius: 6px;
}
header {
    text-align: center;
}
span{
    font-size: 1rem;
}

.bg-color{
    background: rgb(183,153,241);
    background: linear-gradient(77deg, rgba(183,153,241,1) 38%, rgba(74,142,224,1) 100%); 
}
.contenedor{
    width: 500px;
    margin: 0 auto;
}
.prin-nav{
    display: flex;
    justify-content: space-around;
    
}
.prin-nav a{
    color: var(--black);
    padding: 6px;
    text-decoration-line: none;
}
.prin-nav a:hover{
    background-color: var(--prin-hover);
}
.hero{
    background-image: url(../img/all-service-img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 150px;
    position: relative;
}
.hero2{
    color: var(--white);
text-align: center;
position: relative;
    top: 0px ;
    left: 0px;
    right: 0px;
    bottom: 40px; 
}
.hero2 button{
    padding: 7px;
    background-color: var(--white);
    border: 1px solid var(--black);
}
.hero2 button a{
    text-decoration-line: none;
    color: var(--black);
}
/* scroll snap */
.prin-nav,
.scroll-stop1,
.scroll-stop2,
.scroll-stop3,
.formulario{
    scroll-snap-stop: always;
    scroll-snap-align:center;
}
.que-hacemos{
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
    line-height: 25px;
    
}
.que-hacemos svg{
    background-color: var(--second-hover);
    padding: 10px;
    border-radius: 40px;
    border: 1px solid var(--white);
}
h2{
    text-align: center;
    font-family: var(--second-font);
    text-decoration-line: underline;
}

footer{
    text-align: center;
    
}
.bg-foot{
    background-color: var(--prin-hover);
}
form{
    border-radius: 7px;
    margin: 0 auto;
    background-color: var(--prin-hover);
    padding-left: 10px;
    padding-bottom: 25px;
    color: black;
}

.formulario fieldset{
    border: none;
    
}
.formulario input{
    padding: 7px;
    border: 1px solid var(--black);
    background-color: white;
}


/* media query */
@media (max-width :480px ) {
    .prin-nav{
        display: flex;
        padding: 8px;
        
        flex-direction:column;
        text-align: center;
    }
}

@media (max-width :480px ) {
    .contenedor{
        width: 150px;
        
    }
}

@media (max-width :480px ) {
    .que-hacemos{
        display: flex;
        flex-direction: column;
        
    }
}

@media (max-width :480px ) {
    .que-hacemos p{
        text-align: center;
        margin-left: 30px;
        margin-right: 30px;
        
    }
}

@media (max-width :480px ) {
    .desvanesido{
        margin-left: 30px;
        margin-right: 30px;
        line-height: 25px;
    }
}